<div class="products-list-container">
  <div class="actions">
    <div>
      <input
        class="search-input"
        type="search"
        name="search product"
        id="searchProduct"
        placeholder="Search.."
        [formControl]="searchControl">
    </div>
    <div>
      <button class="btn-primary">Agregar</button>
    </div>
  </div>

  <div class="table-card">
    <div class="table-wrapper">
      <table class="table-content">
        <thead class="table-header">
          <tr>
            <th *ngFor="let header of tableConfig.header">{{header}}</th>
            <th class="table-header-actions"></th>
          </tr>
        </thead>
        <tbody *ngIf="tableConfig.data">
          <tr *ngFor="let product of tableConfig.data">
            <td>
              <img width="35" alt="Banco pichincha logo" [src]="product.logo" />
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release }}</td>
            <td>{{ product.date_revision }}</td>
            <td class="table-body-actions">...</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-pagination">
      <p class="pagination-counter">
        {{tableConfig.data?.length || 0}} registros
      </p>
      <select class="pagination-select" name="" id="">
        <option
          [value]="size"
          *ngFor="let size of tableConfig.pagination.pageOptions"
          >{{size}}</option>
      </select>
    </div>
  </div>
</div>
