<div class="products-list-container">
  <div class="actions">
    <div>
      <input
        class="search-input"
        type="search"
        name="search product"
        id="searchProduct"
        placeholder="Search.."
        [formControl]="searchControl">
    </div>
    <div>
      <button (click)="reditectToProductRegistration()" class="btn-primary">Agregar</button>
    </div>
  </div>

  <div class="table-card">
    <div class="table-wrapper">
      <table class="table-content">
        <thead class="table-header">
          <tr>
            <th *ngFor="let header of tableConfig.header">{{header}}</th>
            <th class="table-header-actions"></th>
          </tr>
        </thead>
        <tbody *ngIf="pagedProducts">
          <tr *ngFor="let product of pagedProducts">
            <td>
              <img width="35" alt="Banco pichincha logo" [src]="product.logo" />
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release | date: 'MM/dd/yy' }}</td>
            <td>{{ product.date_revision | date: 'MM/dd/yy' }}</td>
            <td class="table-body-actions">...</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-pagination">
      <p class="pagination-counter">
        {{pagedProducts.length || 0}} registros
      </p>
      <div class="pagination-management">
        <div>
          <button
            [disabled]="tableConfig.pagination.page === 1"
            (click)="changePage(tableConfig.pagination.page - 1)"
            class="btn-secondary"><strong><</strong></button>
        </div>
        <div>
          <button class="btn-secondary"><strong>{{tableConfig.pagination.page}}</strong></button>
        </div>
        <div>
          <button
            [disabled]="tableConfig.pagination.page === tableConfig.pagination.totalPages"
            (click)="changePage(tableConfig.pagination.page + 1)"
            class="btn-secondary"><strong>></strong></button>
        </div>
        <select (change)="changePageSize()" [(ngModel)]="tableConfig.pagination.pageSize" class="pagination-select" name="" id="">
          <option
            [value]="size"
            *ngFor="let size of tableConfig.pagination.pageOptions"
            >{{size}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
