:host{
  display: block;
  position: relative;
}

.products-list-container{
  margin: 50px 10% 0 10%;
}

.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.search-input{
  width: 100%;
  height: 30px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
}

.search-input:focus{
  border: 1px solid #ff1111;
}

.table-card{
  padding: 20px;
  background-color: #ffffff;
  display: block;
}

.table-wrapper{
  width: 100%;
  overflow-x: auto;
}

.table-content {
  border: 1px solid #edeff4;
  table-layout: fixed;
  width: 100%;
  min-width: 1120px;
}

.table-content th {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f9fafc;
}

.table-content td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-content th, .table-content td:not(.table-header-actions):not(.table-body-actions) {
  border-bottom: 1px solid #edeff4;
  padding-left: 30px;
  padding-right: 20px;
  text-align: left;
}

.table-header-actions, .table-body-actions{
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 20px;
}

.table-pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.pagination-management{
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.pagination-select{
  width: 60px;
  height: 42px;
}



.actions-btn {
  background: #ffffff;
  border: none;
  color: black;
  font-family: sans-serif;
  transform: rotate(-90deg);
  font-size: x-large;
  padding: 1px 0 4px 0;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 10px;
}

.actions-btn:hover {
  cursor: pointer;
  background-color: #ececec;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9ecf2;
  color: #2e426f;
  width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  right: 70px;
  bottom: -5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #2e426f;
}
