/* You can add global styles to this file, and also import other style files */
body{
  background-color: #f4f6f9;
}

.btn-primary{
  background-color: #fddd48;
  color: #3a4250;
  border: none;
  border-radius: 2px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  width: 100%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover{
  background-color: #ffe77c;
}

.btn-primary:active{
  background-color: #fddd48;
}

.btn-secondary{
  background-color: #eaecf1;
  color: #1a2b59;
  border: none;
  border-radius: 2px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  width: 100%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary:hover{
  background-color: #4a5362;
  color: #ffffff;
}

.btn-secondary:active{
  background-color: #636a75;
}

.btn-secondary:disabled{
  background-color: #dbdada;
  color: #828ca9;
}
